/*style reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --primary-color:rgb(255, 136, 0);
}
header {
    display: flex;
    align-items: center;
    align-content: flex-end;
    flex-direction: column;
}

body{
    background-color: rgb(236, 222, 202);
}

h1{
font-family: 'Times New Roman', Times, serif;
font-size: 40px;
text-transform: uppercase;
}

h2{
    color: var(--primary-color);
}

#blålinje {
   color: aqua; 
}
